/* Reset default margin and padding */
body, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color and font styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    line-height: 1.6;
}

/* Header styling */
header {
    background-color: #71db6f;

    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Home section styling */
#home {
    text-align: center;
    padding: 50px 0;
}

.div1 {
    margin-top: 20px;
    
}

/* Skills section styling */
.skill-div {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.skill-div div {
    text-align: center;
    width: 30%;
    padding: 20px;
    background-color: #839195;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* About section styling */
.about-div {
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.about-div img {
    max-width: 100%; /* Adjust the image width to fit its container */
    max-height: 300px; /* Set a maximum height for the image */
    margin-right: 20px;
}

/* Projects section styling */
.proj-div {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.proj-div .first,
.proj-div .second {
    text-align: center;
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.proj-div img {
    max-width: 100%; /* Adjust the image width to fit its container */
    max-height: 200px; /* Set a maximum height for the image */
    margin-bottom: 20px;
}
